.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
} 
.container{
    margin-left: 200px;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(3, 18%); 
    grid-gap: 10px;
}
.image{
    border-radius: 20px;
}
.image:hover{
    border: 2px solid black;
}
.hide{
    display: none;
}
.thebtcs{
    /* position: absolute; */
    width: 200px;
    margin-top: -30px;
    margin-left: 35px;
    align-items: center;
    cursor: pointer;
}
.btn1{
    width: 150px;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}
.thebtcs img{
    position: absolute;
    margin-left: -25px;
    margin-top: 4px;
}

.class1 h1{
    /* position: absolute; */
    /* background: red; */
    /* width: 150px; */
}
.name-tag h1{
    font-weight: 400
}
.name-tag h2{
    font-weight: 800;
}
.name-tag h3{
    color: green;
}

.tag{
    margin: 1px;
    font-size: 12px;
}